<div class="modal-header">
  <h4 class="modal-title">New Todo Item</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="offset">How many days until due date until warning label?</label>
      <input type="number" class="form-control" name="offset" id="offset" [(ngModel)]="offset" />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>
